# Snowflake connection
SNOWFLAKE_ACCOUNT=<account_locator>
SNOWFLAKE_USER=<user_name>
# Either password auth or key-pair auth
SNOWFLAKE_PASSWORD=
SNOWFLAKE_PRIVATE_KEY_PATH=
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_ROLE=<role_name>
SNOWFLAKE_WAREHOUSE=<warehouse_name>
SNOWFLAKE_LOGIN_TIMEOUT=60
SNOWFLAKE_NETWORK_TIMEOUT=300
